# Configuración de Supabase
VITE_SUPABASE_URL=https://tu-proyecto.supabase.co
VITE_SUPABASE_ANON_KEY=tu-anon-key-publica

# Web Push Notification (VAPID Public Key)
# Si no se define, se usará la clave por defecto
VITE_VAPID_PUBLIC_KEY=BGHmKycJbLHBjay-25jQURBSW1-SELwwHh4EnZ57-GhCEw4zvW1zFhvbqw2H9neaFPUrGSy3IqzAwNqDxscOxMw
